decorator==5.1.1
demoji==1.1.0
einops==0.8.0
en-core-web-lg==3.7.1
filelock==3.14.0
fonttools==4.52.1
fsspec==2024.5.0
gram2vec==1.0.0
huggingface-hub==0.23.1
idna==3.7
ipykernel==6.29.3
ipython==8.25.0
jsonlines==4.0.0
MarkupSafe==2.1.5
matplotlib==3.9.0
networkx==3.3
numpy==1.26.4
packaging==24.0
pandas==2.2.2
peft==0.11.1
pillow==10.3.0
pip==24.0
plotly==5.22.0
ptyprocess==0.7.0
pure-eval==0.2.2
pydantic==2.7.1
pydantic_core==2.18.2
Pygments==2.18.0
pyparsing==3.1.2
python-dateutil==2.9.0
pytz==2024.1
PyYAML==6.0.1
pyzmq==25.1.2
regex==2024.5.15
requests==2.32.2
safetensors==0.4.3
scikit-learn==1.5.0
scipy==1.13.1
setuptools==69.5.1
six==1.16.0
smart-open==6.4.0
spacy==3.7.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srm==1.0.0
stack-data==0.6.2
sympy==1.12
tokenizers==0.19.1
torch==2.3.0
tqdm==4.66.4
transformers==4.41.1
typer==0.9.4
tzdata==2024.1
wheel==0.43.0